{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h2>Hello, {{ current_user.name }}</h2>
        <section class="tasks">
            {% if tasks %}
                {% for task in tasks %}
                    {% if not task.completed %}
                        <a href="{{ url_for('tasks') }}">
                            <article class="task task-{{ task.completed }}">
                                <div class="header">
                                    <h3>{{ task.title }}</h3>
                                </div>
                                {% if task.description %}
                                <div class="description">
                                    <p>{{ task.description }}</p>
                                </div>
                                {% endif %}
                            </article>
                        </a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3>There are no tasks</h3>
            {% endif %}
        </section>
        <section class="dangerous-zone">
            <form action="{{ url_for('delete_account', user_id=current_user.id) }}" method="POST" onsubmit="return confirm('Are you sure?')">
                <button type="submit">Delete account</button>
            </form>
        </section>
    {% else %}
        <h2>Welcome to the Tasks App</h2>
        <p>This is your one-stop solution for managing tasks efficiently.</p>
    {% endif %}
{% endblock %}