{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <main class="login">
            <h2>{{ current_user.name }}'s tasks</h2>
            {% if tasks %}
                <section class="tasks-exist">
                    {% for task in tasks %}
                        {% if not task.completed %}
                            <a href="{{ url_for('tasks') }}">
                                <article class="task">
                                    <h3>{{ task.title }}</h3>
                                    {% if task.description %}
                                        <div class="description">
                                            <p>{{ task.description }}</p>
                                        </div>
                                    {% endif %}
                                </article>
                            </a>
                        {% endif %}
                    {% endfor %}
                </section>
            {% else %}
                <section class="tasks-not-exist">
                    <h3>There are no tasks</h3>
                </section>
            {% endif %}
            <section class="dangerous-zone">
                <h3>Dangerous Zone!</h3>
                <form action="{{ url_for('delete_account', user_id=current_user.id) }}" method="POST" onsubmit="return confirm('Are you sure?')">
                    <button type="submit">Delete account</button>
                </form>
            </section>
        </main>
    {% else %}
        <main class="logout">
            <article>
                <h2>Welcome to the Tasks App</h2>
            </article>
        </main>
    {% endif %}
{% endblock %}