main {
    min-height: calc(100vh - 100px);
    padding: 2rem;
    background-color: #eefe;
}

.info {
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.info h2 {
    font: bold 2.6rem var(--font);
    margin-bottom: .5rem;
    color: var(--color1);
}

.info p {
    font: normal 1rem var(--font);
    color: black;
}

.info #new-task {
    background-color: var(--color1);
    padding: 1rem 2rem;
    font: normal 1.2rem var(--font);
    color: white;
    border-radius: .5rem;
}

/* ========================================================= NO TASKS ========================================================= */
.tasks-not-exist {
    padding-block: 2rem;
}

.tasks-not-exist > h3 {
    font: bold 2.6rem var(--font);
    text-align: center;
    color: gray;
}

/* ========================================================= TASKS ========================================================= */

.tasks-exist {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tasks-exist .task {
    width: calc(100vw - 4rem);
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: .5rem .5rem 1rem #00800040;
}

.tasks-exist .task > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.tasks-exist .task > .header .title-container {
    width: 100%;
    overflow-x: hidden;
}

.tasks-exist .task > .header h3 {
    font: normal 2rem var(--font);
    color: var(--color1);
}

.tasks-exist .task .operations {
    display: flex;
    gap: 2rem;
}

.tasks-exist .task #reopn-button, #pending-button {
    background-color: var(--color1);
    font: normal 1rem var(--font);
    border-radius: .5rem;
    padding: .5rem 1rem;
    color: white;
}

.tasks-exist .task #delete-button {
    background-color: red;
    font: normal 1rem var(--font);
    border-radius: .5rem;
    padding: .5rem 1rem;
    color: white;
}

.tasks-exist .description {
    overflow-x: hidden;
}

.tasks-exist .description > p {
    font: normal 1rem var(--font);
    color: black;
}