{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/errors.css') }}">
{% endblock %}

{% block content %}
    <main>
        <article>
            <h2>500 - Internal Server Error</h2>
            <p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>
        </article>
    </main>
{% endblock %}